<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css">
    <title>About</title>
  </head>
  <body>
    {{>header}}
    <h2>This page is about {{appName}} and creater of {{appName}} : {{name}}</h2>
    <a href="/image/pic1.jpg" download>
      <img src="/image/pic1.jpg" alt="my picture is here">
    </a>
    {{>footer}}
  </body>
</html>
